body {
    padding-top: 60px;
    padding-left: 20%;
    padding-right:20%;
    font-family: 'Arial', sans-serif;
    font-size: 1.8em;
  }

  @media (max-width: 980px) {
    body {
      padding-top: 0;
      padding-left: 2em;
      padding-right: 2em;
    }
  }

  .vertical-align {
    display: flex;
    align-items: center;
}

h1, h2 { 
    margin-top:0;
    font-family: 'Arial', sans-serif;
}
 
ul { 
    padding-left: 1em;
    list-style-type: square
}


.row {
    display: flex; /* equal height of the children */
    flex-wrap: wrap;
}

.profile {
    padding-right: 1em;
}

.about {
    width:60%;
}
@media (max-width: 600px) {
    .about {
        width:100%;
    }
}


img{
    margin: em;
}

.papertitle{
    font-style: italic
}

.place{
    font-style: italic
}

.post-meta {
    color: grey
}

.post-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 2em;
}

.post-entry{
    padding-bottom: 0.6em;
}

nav{
    padding-bottom: 2em;
}

.right-align{
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 10px;
}